mixin skill_roller(skillname, qualities)
  - var qualities_s = qualities.join('|')
  button.button(type="action" name="act_skill" data-skillname=skillname data-qualities=qualities_s)

+section("Skills")
  - var splitpoint = Math.ceil(skills.length / 2);
  .columns
    .column
      each skill in skills.slice(0, splitpoint)
        - var label = `${skill.name} (${skill.quality.map(s => s[0]).join('/')})`
        - var attr = `skill_${skill.name.toLowerCase().replace(' ', '_')}`
        +numberfield_v(`attr_${attr}`, label)(value="1" min="1" max="5")
          +skill_roller(skill.name, skill.quality)
    .column
      each skill in skills.slice(splitpoint)
        - var label = `${skill.name} (${skill.quality.map(s => s[0]).join('/')})`
        - var attr = `skill_${skill.name.toLowerCase().replace(' ', '_')}`
        +numberfield_v(`attr_${attr}`, label)(value="1" min="1" max="5")
          +skill_roller(skill.name, skill.quality)
