mixin skill_roller(attr, qualities)
  if qualities.length == 1
    //- button.button(type="roll" value=`/roll @{${attr}}d@{quality_${qualities[0].toLowerCase()}}`)
    button.button(type="action" name="act_skill" data-skillname=attr data-qualities=`@{quality_${qualities[0].toLowerCase()}}`)
  else
    - var qualities_s = qualities.map(q => `${q},@{quality_${qualities[0].toLowerCase()}}`).join('|')
    button.button(type="action" name="act_skill" data-skillname=attr data-qualities=`?{Quality|${qualities_s}}`)
    //- button.button(type="roll" value=`/roll @{${attr}}d?{Quality?|${qualities_s}}`)

+section("Skills")
  - var splitpoint = Math.ceil(skills.length / 2);
  .columns
    .column
      each skill in skills.slice(0, splitpoint)
        - var label = `${skill.name} (${skill.quality.map(s => s[0]).join('/')})`
        - var attr = `skill_${skill.name.toLowerCase().replace(' ', '_')}`
        +numberfield_v(`attr_${attr}`, label)(value="1" min="1" max="5")
          +skill_roller(attr, skill.quality)
    .column
      each skill in skills.slice(splitpoint)
        - var label = `${skill.name} (${skill.quality.map(s => s[0]).join('/')})`
        - var attr = `skill_${skill.name.toLowerCase().replace(' ', '_')}`
        +numberfield_v(`attr_${attr}`, label)(value="1" min="1" max="5")
          +skill_roller(attr, skill.quality)
